<div class="container">
    <div class="input-group spacing">
        <div class="row">
            <div class="col">
                <label for="">Email</label>
            </div>
            <div class="col">
                <input type="email" class="form-control" name="email" [(ngModel)]="email">
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="input-group spacing">
        <div class="row">
            <div class="col">
                <label for="">Password</label>
            </div>
            <div class="col">
                <input type="password" class="form-control" name="Password" [(ngModel)]="password">
            </div>
        </div>
    </div>
    <div class="input-gruop spacing">
        <div class="row">
            <div class="col">
                <button class="btn btn-info" (click)="loginUser()">Login</button>
            </div>
        </div>
    </div>
</div>
